<div class="Loaderskeleton">
  <!-- <ion-spinner name="crescent"></ion-spinner><ion-text>Please wait...</ion-text> -->
  <div class="itemDiv">
    <div>
      <ion-skeleton-text id="headerSkel" [animated]="true" ></ion-skeleton-text>
    </div>
    <div class="cardDetailsDiv">
      <div class="text ellipsis" >
        <!-- <ion-skeleton-text [animated]="true" ></ion-skeleton-text> -->
        <ion-skeleton-text id='subhead' [animated]="true" ></ion-skeleton-text>
        <ion-skeleton-text id='subhead' [animated]="true" ></ion-skeleton-text>
      </div>
    </div>
  </div>

  <div class="itemDiv">
    <div>
      <ion-skeleton-text id="headerSkel" [animated]="true" ></ion-skeleton-text>
    </div>
    <div class="cardDetailsDiv">
      <div class="text ellipsis" >
        <!-- <ion-skeleton-text [animated]="true" ></ion-skeleton-text> -->
        <ion-skeleton-text id='subhead' [animated]="true" ></ion-skeleton-text>
        <ion-skeleton-text id='subhead' [animated]="true" ></ion-skeleton-text>
      </div>
    </div>
  </div>

  <div class="itemDiv">
    <div>
      <ion-skeleton-text id="headerSkel" [animated]="true" ></ion-skeleton-text>
    </div>
    <div class="cardDetailsDiv">
      <div class="text ellipsis" >
        <!-- <ion-skeleton-text [animated]="true" ></ion-skeleton-text> -->
        <ion-skeleton-text id='subhead' [animated]="true" ></ion-skeleton-text>
        <ion-skeleton-text id='subhead' [animated]="true" ></ion-skeleton-text>
      </div>
    </div>
  </div>

  <div class="itemDiv">
    <div>
      <ion-skeleton-text id="headerSkel" [animated]="true" ></ion-skeleton-text>
    </div>
    <div class="cardDetailsDiv">
      <div class="text ellipsis" >
        <!-- <ion-skeleton-text [animated]="true" ></ion-skeleton-text> -->
        <ion-skeleton-text id='subhead' [animated]="true" ></ion-skeleton-text>
        <ion-skeleton-text id='subhead' [animated]="true" ></ion-skeleton-text>
      </div>
    </div>
  </div>
</div>