<ion-slides  direction="vertical" pager="true" *ngIf="dataService.featurePost"
[options]="slideOpts">
<ion-slide  *ngFor="let item of dataService.videos; index as i;">
  <div class="itemDiv" (click)="changeVideoAudio($event, item.reels_id)">
    <div class="mid">
      <div *ngIf="showAmimation === true">
        <ion-icon class="like likeEffect" name="heart"></ion-icon>
      </div>

      <div *ngIf="volumeAnimation === true && !mute">
        <ion-icon class="volume likeEffect" name="volume-high-outline"></ion-icon>
      </div>

      <div *ngIf="volumeAnimation === true && mute">
        <ion-icon class="novolume likeEffect" name="volume-mute-outline"></ion-icon>
      </div>
    </div>
    <div class="btnRow">
      <div class="subsBtn">
        <ion-text>Subscribe</ion-text>
      </div>

      <div class="share-btn" (click)="share($event, item.link)">
        <ion-icon name="share-social-sharp"></ion-icon>
        <ion-text></ion-text>
      </div>
    </div>
    <div class="overlay"></div>
    <video style="height: 100%; width: 100%;margin-top: 113px;" inViewport [inViewportOptions]="{ threshold: [0, 0.65] }"
      (inViewportAction)="onIntersection($event)" playsinline loop [muted]="'true'" [id]="'media-' + item.reels_id"
      class="video-media" preload="metadata">
      <source [src]="'https://www.agnitotoday.com/' + item.source+'#t=0.1'" type="video/mp4">
    </video>
  </div>
</ion-slide>
</ion-slides>
