.itmDiv {
    // position: relative;
    height: 100%;
}

.imgDiv::after {
    content: '';
    position: absolute;
    background: black;
}

.imgDiv {
    object-fit: cover !important;
}

img {
    max-height: 100%;
    height: 36vh;
    width: 100vw;
    object-fit: cover !important;
}

p {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

ion-slides {
    --bullet-background-active: red;

}

.btnRow {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    font-size: 20px;
    bottom: 64px;
    z-index: 9999;
    position: absolute;
    height: 140px;
    /* align-items: center; */
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

.subsBtn {
    height: 22px;
    width: 71px;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ec353a;

    ion-text {
        display: block;
        color: #fff;
        font-size: 10px
    }
}

.share-btn {
    text-align: end;
    color: white;

    ion-text {
        display: block;
        color: #fff;
        font-size: 10px
    }
}

.shareBtns {
    display: flex;
    justify-content: space-between;
    width: 50px
}

.mid {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    font-size: 20px;
    z-index: 9999;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-self: center;
    height: 100%;
    font-size: 50px;
    color: white;

    .like {
        // opacity: 0;
    }

    .volume {
        // opacity: 0;
    }

    .novolume {
        // opacity: 0
    }

    .likeEffect {
        animation: 2s like-heart-animation ease-in-out forwards;
    }
}

@keyframes like-heart-animation {

    0%,
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    15% {
        opacity: 0.9;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    30% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    45%,
    80% {
        opacity: 0.9;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.noDataDive {
    height: 77vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

    ion-text {}

    ion-spinner {
        margin-right: 10px;
        margin-bottom: -6px;
    }
}

.itemDiv {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D3D3D3;
    position: relative;
    height: 100%;

    img {
        object-fit: cover !important;

    }
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(271deg, #1f131340, transparent);
}

::-webkit-scrollbar {
    display: none !important;
}

ion-content::webkit-scrollbar {
    display: none !important;
}

*::-webkit-scrollbar {
    display: none !important;
}

.video {
    height: 100%;
    width: 100%;
}