<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar search-icon="search-circle" placeholder="Search Notification"></ion-searchbar>
  <div class="headbox">
    <ion-text>All Notifications</ion-text>
    <div class="dltBtn" (click)="clearNotification()">
      <ion-text>Clear All</ion-text>
      <ion-icon name="trash-outline"></ion-icon>
    </div>
  </div>
  <ion-list *ngIf="dataService.notification">
    <div *ngFor="let item of dataService.notification; index as i;">
      <div (click)="gotoDetailsPage(item)">
        <div class="itemDiv">
          <div>
            <img *ngIf="item.data.image"[src]="item.data.image" />

            <img id="logoimg" *ngIf="!item.data.image"
              src="../../../assets/Logo-name.png" />
          </div>
          <div class="cardDetailsDiv">
            <div class="text ellipsis" [ngClass]="{'hindiText' : dataService.language === 'hindi'}">
              <ion-text class="text-concat">{{item.data.title}}</ion-text>
            </div>
            <div class="btnRow">
              <div>
                <div>
                  <ion-icon name="heart-outline"></ion-icon>
                </div>
              </div>
              <div class='shareBtns'>
                <div class="share-btn" (click)="gotoDetailsPage(item)">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   
  </ion-list>
  <div *ngIf="dataService.notification.length === 0">
    <div >
      <div class="noDataDive">
        <div>
            <div class="share-btn" (click)="goBack()">
              <ion-icon size='33' name="arrow-back-outline"></ion-icon>
            </div>
        </div>
        <div class="cardDetailsDiv">
          <div class="text ellipsis" [ngClass]="{'hindiText' : dataService.language === 'hindi'}">
            <ion-text class="text-concat">Notification Unavailable</ion-text>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>