.mainDiv {
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    align-items: stretch;
    margin-left: 20px;
    margin-right: 20px;
}


:host ::ng-deep .innerDiv img {
    object-fit: none;
    max-height: 260px;
}

// :host ::ng-deep .innerDiv blockquote {
//     display: none;
//     p{
//         display: none;
//     }
// }

:host ::ng-deep .innerDiv iframe {
    // object-fit: none;
    // width: 100%;
    // height: 225px;
    // max-height: 260px;
    min-width: auto !important;

}

:host ::ng-deep .innerDiv table {
    height: 329px;
    width: 100%;

}

:host ::ng-deep .innerDiv figcaption {
    justify-content: center;
    display: flex;

}


.heading {
    // font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */
    text-transform: capitalize;
    color: #000000;
}

.subHeading {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: capitalize;
    color: #666666
}

#banner {
    border-radius: 8px;
    object-fit: cover !important;
}

.post {
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: lowercase;
    color: #000000
}

.btn-row {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -25px;
}

ion-icon {
    color: #fff;
    font-size: 20px;
}

.userIcn {
    font-size: 12px;
    color: #000;
}

.democlass {
    color: red;
}

.innerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.withInner {
    margin-top: 0px !important;
}

figure {
    width: 300px !important;
}

.imgDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

    ion-text {
        font-weight: 600;
    }
}

.views {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 50px;

    img {
        height: 20px;
        width: 20px;
        margin-top: 0px !important;
    }

    ion-text {
        margin-top: 0px;
        margin-left: 3px;
        font-weight: 600;
    }
}

ion-fab-button {
    height: 40px;
    width: 40px;
    --background: red;
}

ion-fab-list {
    margin-bottom: 40px;
}