<app-menu></app-menu>
<ion-grid id="main-content" [ngClass]="{'dark' : dataService.theme === 'dark'}">
  <ion-row class="fistHead">
    <ion-col size="2" class="menu">
      <ion-menu-button class="iconColor"></ion-menu-button>
    </ion-col>
    <ion-col size="7">
      <ion-img class="logo" *ngIf="dataService.theme === 'light' " src="../../../assets/Logo-name.png"></ion-img>
      <ion-img class="logo" *ngIf="dataService.theme === 'dark' "src="../../../assets/Logo-name-white.png"></ion-img>
    </ion-col>
    <ion-col size="3" class="headerBtn">
      <div class="btnNoti" (click)=gotoNotification()>
        <ion-icon class="iconColor" name="notifications-outline"></ion-icon>
        <ion-badge color="danger">{{dataService.notification.length}}</ion-badge>
      </div>
      <div class="btnNoti" (click)=gotoSearch()>
        <ion-icon class="iconColor" name="search-sharp"></ion-icon>
      </div>
    </ion-col>

  </ion-row>
  <app-slide-nav></app-slide-nav>
</ion-grid>