<div style="overflow: scroll;">

  <div class="heading">
    <div>
      <h3>Related Article</h3>
    </div>
  </div>
  <div class="noDataDive" *ngIf='dataService.isLoading'>
    <div>
      <ion-spinner name="crescent"></ion-spinner><ion-text>Please wait...</ion-text>
    </div>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="dataService.relatedArticles">
    <div *ngFor="let item of dataService.relatedArticles; index as i;">
      <div (click)="gotoDetailsPage(item)">
        <div class="itemDiv">
          <div>
            <img *ngIf="item['_embedded']['wp:featuredmedia'][0]['media_details'] &&
            item['_embedded']['wp:featuredmedia'][0]['media_details']['sizes'] && 
            item['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['medium'] && 
            item['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['medium']['source_url']"
              [src]="item['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['medium']['source_url']" />

            <img *ngIf="!item['_embedded']['wp:featuredmedia'][0]['media_details'] ||
            !item['_embedded']['wp:featuredmedia'][0]['media_details']['sizes'] || 
            !item['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['medium'] || 
            !item['_embedded']['wp:featuredmedia'][0]['media_details']['sizes']['medium']['source_url']"
              src="./../../../assets/Logo-name.png" />
          </div>
          <div class="cardDetailsDiv">
            <div class="text ellipsis" [ngClass]="{'hindiText' : dataService.language === 'hindi'}">
              <ion-text class="text-concat">{{removeTag(item.title.rendered)}}</ion-text>
            </div>
            <div class="btnRow">
              <div>
                <div>
                  <ion-icon name="heart-outline"></ion-icon>
                </div>
              </div>
              <div class='shareBtns'>
                <div class="share-btn">
                  <ion-icon name="bookmark-outline"></ion-icon>
                </div>
                <div class="share-btn" (click)="share($event, item.link)">
                  <ion-icon name="share-social-sharp"></ion-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-list>


</div>