ion-avatar {
    --border-radius: 4px;
}

ion-list {
    // margin-top: 94px;
    padding-top: 0px;
    overflow: auto !important;
    scroll-snap-type: y mandatory !important;
}

ion-list,
.itemDiv {
    max-width: 100% !important;
    height: 100vh !important;
}

.itemDiv {
    height: 100vh !important;
    width: 100vw !important;
    scroll-snap-align: start;
}

img {
    border-radius: 5px;
    height: 85px;
    width: 130px;
    // object-fit: cover !important;

}

.post {
    text-overflow: ellipsis;
    line-height: 5px;
}

ion-text {
    position: relative;
    font-size: 15px;
    color: black;
    width: 250px;
    font-weight: 600;
    /* Could be anything you like. */
}

.text-concat {
    position: relative;
    display: inline;
    overflow: hidden;
    max-height: 49.6px;
    line-height: 16px;
}



.text.ellipsis {
    height: 48px;
    overflow: hidden;
}

.cardDetailsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 0px;
    width: 80%;
}

.btnRow {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    font-size: 20px;
    bottom: 64px;
    right: 15px;
    z-index: 9999;
    flex-direction: column;
    position: absolute;
    height: 140px;
    align-items: center;
    text-align: center;
}

.share-btn {
    text-align: end;
    color: white;

    ion-text {
        display: block;
        color: #fff;
        font-size: 10px
    }
}

.shareBtns {
    display: flex;
    justify-content: space-between;
    width: 50px
}

.mid {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    font-size: 20px;
    z-index: 9999;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-self: center;
    height: 100%;
    font-size: 50px;
    color: white;

    .like {
        // opacity: 0;
    }

    .volume {
        // opacity: 0;
    }

    .novolume {
        // opacity: 0
    }

    .likeEffect {
        animation: 2s like-heart-animation ease-in-out forwards;
    }
}

@keyframes like-heart-animation {

    0%,
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    15% {
        opacity: 0.9;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    30% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    45%,
    80% {
        opacity: 0.9;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.noDataDive {
    height: 77vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

    ion-text {}

    ion-spinner {
        margin-right: 10px;
        margin-bottom: -6px;
    }
}

.itemDiv {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D3D3D3;
    position: relative;

    img {
        object-fit: cover !important;

    }
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(271deg, #1f131340, transparent);
}

::-webkit-scrollbar {
    display: none !important;
}

ion-content::webkit-scrollbar {
    display: none !important;
}

*::-webkit-scrollbar {
    display: none !important;
}

ion-refresher {
    margin-top: 110px;
}

.hindiText {
    height: 44px !important;
}

.infiniteScroll {
    height: 10px !important;
}


.infinite-loading infinite-loading-spinner {
    display: none !important;
}

.infinite-loading {
    display: none !important;
}

// :host ::ng-deep ion-infinite-scroll {
//     height: 200px;
//     z-index: 999;
//     position: absolute;
//     bottom: 80px;

// }

// :host ::ng-deep ion-infinite-scroll ion-spinner {
//     display: none
// }