<ion-content>
  <iframe class='webPage' *ngIf="dataService.language == 'hindi'" name="eventsPage"
    src="https://stackumbrella.in/web-stories" allowfullscreen></iframe>
  <iframe class='webPage' *ngIf="dataService.language == 'english'" name="eventsPage" [src]="url"
    allowfullscreen></iframe>

  <div id="backButton">
    <ion-button color="danger" shape="round" (click)="reloadPage($event)">
      <ion-icon slot="icon-only" name="reload-circle-sharp"></ion-icon>
    </ion-button>
  </div>
</ion-content>